body {
    background-color: #222831;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.img-detail-top {
    height: 25vw;
    width: 100%;
    object-fit: cover;
}

.title-card-overview {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.flip-card {
    background-color: transparent;
    width: 219px;
    height: 336px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.flip-card-titel {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #198754;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #343a40 ;
    color: white;
    transform: rotateY(180deg);
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.g-recaptcha {
    text-align: center;
    display: inline-block;
}

.large-button {
    width: 150px;
    height: 50px;
}

@media (min-width: 900px) { .user-card {
    width: 800px;
}
    .user-form {
        max-width: 500px;
    }

}

#headerPopup{
    width:75%;
    margin:0 auto;
}

#headerPopup iframe{
    width:100%;
    margin:0 auto;
}

@media (max-width: 899px) {
    .g-recaptcha {
        transform:scale(0.8);
        transform-origin:0 0;
    }

}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}