<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>ShowShare|Login</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container  " sec:authorize="isAnonymous()">

    <div class="card bg-dark mx-auto user-card" style="margin-top: 100px; margin-bottom: 10px">
        <div class="card-header">
            <h1 class="text-center">Please Log In</h1>
        </div>
        <div class="card-body mx-5">
            <div th:if="${param.error}" style="color: red">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter username" required/>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password"
                           placeholder="Enter password" required/>
                </div>
                <div class="text-center">
                <input class="btn btn-success large-button" type="submit" value="Log in"/>
                </div>
            </form>

            <div class="container" sec:authorize="isAuthenticated()">
                <H1>You are already logged in</H1>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>