<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>ShowShare|Register</title>
</head>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container justify-content-center">
    <div class="card bg-dark mx-auto user-card" style="margin-top: 30px; margin-bottom: 10px">
        <div class="card-header">
            <h1 class="text-center">Register</h1>
        </div>
        <div class="card-body mx-5">
            <p class="text-center">Register to create your own collection of tv-shows</p>
            <div th:if="${showAlertScreen}" class="alert alert-danger w-75 alertWrap mx-auto">
                <ul class="mb-0">
                    <li th:if="${noFailUsername} == false">An account with this username already exists</li>
                    <li th:if="${noFailEmail} == false">An account with this email-address already exists</li>
                    <li th:if="${noFailRecaptcha} == false">Recaptcha failed. Please try again</li>
                    <li th:if="${notSamePassword} == false">Passwords did not match</li>
                </ul>
            </div>
            <form th:action="@{/register/new}" method="post" th:object="${newUser}" id="registerForm" class="">
                <div class="mb-1">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" th:field="*{username}"
                           placeholder="Enter username" required/>
                </div>
                <div class="mb-5">
                    <label for="emailInput" class="form-label">Email-address</label>
                    <input type="email" class="form-control" id="emailInput" th:field="*{email}"
                           placeholder="Enter email" required/>
                </div>
                <div class="mb-1">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" th:field="*{password}"
                           placeholder="Enter password" required/>
                </div>
                <div class="mb-3">
                    <label for="retypedPassword" class="form-label">Re-enter Password</label>
                    <input type="password" class="form-control" id="retypedPassword" name="retypedPassword"
                           placeholder="Enter password" required/>
                </div>
                <div class="text-center">
                    <div class="g-recaptcha"
                         th:attr="data-sitekey=${@captchaSettings.site}"></div>
                    <span id="captchaError" class="alert alert-danger col-sm-4"
                          style="display:none"></span>
                </div>
                <br>
                <div class="text-center">
                    <input class="btn btn-success large-button" type="submit" value="Register"/>
                </div>
            </form>
        </div>
    </div>

</div>


<div th:replace="fragments/general :: footer"></div>
<script>
    window.addEventListener('load', () => {
        const $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute('required', 'required');
        }
    })
</script>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>