<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Register</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container justify-content-center">
    <div class="card bg-dark mx-auto user-card" style="margin-top: 100px; margin-bottom: 10px">
        <div class="card-header">
            <h1>Register</h1>
        </div>
        <div class="card-body">
            <p>Register to create your own collection of tv-shows</p>
            <p th:if="${alreadyInDb}" class="text-danger">Username already exists</p>
            <form th:action="@{/register/new}" method="post" th:object="${newUser}">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" th:field="*{username}"
                           placeholder="Enter username"/>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" th:field="*{password}"
                           placeholder="Enter password"/>
                </div>
                <input class="btn btn-success" type="submit" value="Log in"/>
            </form>
        </div>
    </div>

</div>


<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>