<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Shows</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">

    <div th:each="show : ${shows}">
        <div class="card mb-3 bg-dark" style="width: auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="@{${'https://image.tmdb.org/t/p/w185' + show.getPoster_path()}}"
                         class="img-fluid rounded-start" alt="no Poster">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${show.getName}">Card title</h5>
                        <p class="card-text" th:text="'&#11088; ' + ${show.getVote_average()}"></p>
                        <p class="card-text" th:text="${show.getOverview()}"></p>
                        <a th:href="@{/show/{showId}(showId=${show.getId()})}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>