<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="'ShowShare|' + ${season.getName()} + '-' + ${show.getName()}">Shows</title>

</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="card mb-3 bg-dark" style="width: auto">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{${'https://image.tmdb.org/t/p/w500' +
                    (season.getPoster_path != null ? season.getPoster_path : show.getPoster_path)}}"
                     class="img-fluid rounded-start" alt="" style="height: 42vh;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-9">
                            <h1 class="card-title" th:text="${show.getName()}">Card title</h1>
                            <h5 class="card-title" th:text="${season.getName()} == null
                        ? 'Loading failed... Try again later' : ${season.getName()}">Card title</h5>
                            <p class="card-text" th:text="${season.getOverview()}"></p>
                        </div>
                        <div class="col-3" sec:authorize="isAuthenticated()">
                            <div class="col-auto mb-3" id="watchedFullSeason">
                                <button th:onclick="|watchedFullSeason(${show.getId}, ${season.getSeason_number})|"
                                        class="btn btn-success "
                                        style="max-height: 10vh" type="submit"
                                >Watched Season <i class="fa-regular fa-eye"></i>
                                </button>
                            </div>
                            <div class="col-auto mb-3" id="unWatchFullSeason">
                                <button th:onclick="|unwatchFullSeason(${show.getId}, ${season.getSeason_number})|"
                                        class="btn btn-danger "
                                        style="max-height: 10vh" type="submit"
                                >Unwatch Season <i class="fa-regular fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div th:each="episode : ${season.getEpisodes()}">
        <div class="card mb-3 bg-dark " style="width: auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:if="${episode.getStill_path()} != null" th:src="@{${'https://image.tmdb.org/t/p/w185'
                    + episode.getStill_path()}}"
                         class="img-fluid rounded-start" style="height: 20vh;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <h5 class="card-title"
                                    th:text="${episode.getEpisode_number} + '. ' + ${episode.getName()}"></h5>

                                <small class="card-text" th:text="'&#11088; ' + ${episode.getVote_average()}
                        + '&emsp; Air date: ' + ${episode.getAir_date()}"></small>
                                <p class="card-text" th:text="${episode.getOverview()}"></p>
                            </div>
                            <div sec:authorize="isAuthenticated()" class="col-3 checkButtons">
                                <div class="watchedButton"
                                     th:style="${episode.getNotWatched} ? 'display: block' : 'display: none'">
                                    <button th:onclick="|addToWatched(${show.getId}, ${season.getSeason_number},
                                    ${episode.getEpisode_number});   |"
                                            class="btn btn-success  "
                                            style="max-height: 5vh" type="submit"
                                    >Watch <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>
                                <div class="deleteWatchedButton"
                                     th:style="${episode.getNotWatched} == false ? 'display: block' : 'display: none'">
                                    <button th:onclick="|deleteWatched(${show.getId}, ${season.getSeason_number},
                                    ${episode.getEpisode_number});   |"
                                            class="btn btn-danger  "
                                            style="max-height: 5vh" type="submit"
                                    >Unwatch <i class="fa-regular fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<script>
    function addToWatched(showId, seasonNumber, episodeNumber) {
        $.post('/show/addWatched/' + showId + '/' + seasonNumber + '/' + episodeNumber);

    }

    function deleteWatched(showId, seasonNumber, episodeNumber) {
        $.post('/show/deleteWatched/' + showId + '/' + seasonNumber + '/' + episodeNumber);

    }

    function watchedFullSeason(showId, seasonNumber) {
        $.post('/show/watchedSeason/' + showId + '/' + seasonNumber);

    }

    function unwatchFullSeason(showId, seasonNumber) {
        $.post('/show/unwatchSeason/' + showId + '/' + seasonNumber);

    }


    $(document).ready(function () {
        $(".watchedButton").click(function () {
            $(this).hide();
            $(this).closest(".checkButtons").find(".deleteWatchedButton").show()

        })
    });

    $(document).ready(function () {
        $(".deleteWatchedButton").click(function () {
            $(this).hide();
            $(this).closest(".checkButtons").find(".watchedButton").show()

        })
    });

    $(document).ready(function () {
        $("#watchedFullSeason").click(function () {
            $(".watchedButton").hide();
            $(".deleteWatchedButton").show();
        })
    });

    $(document).ready(function () {
        $("#unWatchFullSeason").click(function () {
            $(".watchedButton").show();
            $(".deleteWatchedButton").hide();
        })
    });


</script>

</body>
</html>