<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:if="${category} == 'favorites'">ShowShare|Favorites</title>
    <title th:if="${category} == 'popular'">ShowShare|Popular</title>
    <title th:if="${category} == 'on_the_air'">ShowShare|On the Air</title>
    <title th:if="${category} == 'top_rated'">ShowShare|Top Rated</title>
    <title th:if="${category} == 'watchlist'">ShowShare|Watchlist</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <div th:switch="${category}">
        <h1 th:case="popular">Most Popular</h1>
        <h1 th:case="top_rated">Top Rated</h1>
        <h1 th:case="on_the_air">On the Air</h1>
        <h1 th:case="favorites">My Favorites</h1>
        <h1 th:case="watchlist">Watchlist</h1>
    </div>

    <p th:if="${#lists.isEmpty(shows)}" th:text="'Try adding some shows to your ' + ${category}"></p>


    <div class="row  row-cols-lg-5 row-cols-md-4 row-cols-sm-2 g-4 ">
        <div th:each="show : ${shows}">
            <div class="col">
                <div class="card h-100 bg-dark .h-50">
                    <img class="card-img-top" th:src="@{${'https://image.tmdb.org/t/p/w500' + show.getPoster_path()}}"
                         width="10" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${show.getName()}"></h5>
                        <a th:href="@{/show/{showId}(showId=${show.getId()})}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${category != 'favorites'}">
        <div th:if="${category != 'watchlist'}">

            <br>
            <nav aria-label="...">
                <ul class="pagination pagination-sm justify-content-center">
                    <li th:if="${page} > 1" class="page-item"><a class="page-link"
                                                                 th:href="@{/allShows/{category}/{page}(category=${category}, page=${page} - 1)}">Previous
                        page</a></li>
                    <li th:if="${page} < 30" class="page-item"><a class="page-link"
                                                                  th:href="@{/allShows/{category}/{page}(category=${category}, page=${page} + 1)}">Next
                        page</a></li>
                </ul>
            </nav>
        </div>
    </div>


</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>