<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="'ShowShare|' + ${show.getName()}"></title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">

    <div class="card mb-3 bg-dark">
        <img th:if="${show.getBackdrop_path()} != null" th:src="@{${'https://image.tmdb.org/t/p/original'
        + show.getBackdrop_path()}}"
             class="card-img-top img-detail-top"
             alt="...">
        <div class="card-body">
            <div class="row g-4">
                <div class="col-md-4 col-lg-3 ">
                    <img class="" th:src="@{${'https://image.tmdb.org/t/p/w185' + show.getPoster_path()}}"
                         alt="Card image cap">
                </div>
                <div class="col-md-8 col-lg-9">
                    <h1 class="card-title" th:text="${show.getName()} == null ? 'Loading failed... Try again later'
                    : ${show.getName()}">Card title</h1>
                    <p th:text="${show.getGenresAsString()}"></p>
                    <a th:if="${show.getHomepage} != ''" class="link-success" th:href="${show.getHomepage}">Official
                        Website</a>


                    <!-- Buttons -->
                    <div class="row  row-cols-auto g-2" style="margin-bottom: 2vh; margin-top: 2vh"
                         sec:authorize="isAuthenticated()">
                        <!-- Add Rating -->
                        <div class="">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <span th:text="${ratingFromDB.getRating()} != null ?'Your Rating: '
                                + ${ratingFromDB.getRating()} : 'Give Rating'"></span> <i class="fa-regular fa-star"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade modal-sm" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                th:text="'Rating for: ' + ${show.getName()}">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <form th:action="@{/show/addRating}" method="post" class="form">
                                            <div class="modal-body">
                                                <input hidden type="number" name="ratingDB"
                                                       th:value="${ratingFromDB.getRatingId()}">
                                                <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                                                <label for="ratingInput" class="form-label">Your rating</label>
                                                <input class="form-control form-control-lg" id="ratingInput"
                                                       name="yourRating" th:value="${ratingFromDB.getRating()}"
                                                       type="number" min="1"
                                                       max="10" step="0.1" style="" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" name="rating"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <input type="submit" class="btn btn-success" value="Save Rating">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Save to Favorites-->
                        <div class="col" th:object="${saveShowId}" th:switch="${notAddedToFavorites}">

                            <form th:action="@{/show/addToFavorites}" th:case="true" method="post">
                                <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                                <button class="btn btn-danger" type="submit">Add to favorites <i
                                        class="fa-regular fa-heart"></i></button>
                            </form>
                            <form th:action="@{/show/deleteFromFavorites}" th:case="*" method="post">
                                <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                                <button class="btn btn-danger" type="submit">Delete from favorites <i
                                        class="fa-regular fa-heart"></i></button>
                            </form>
                        </div>

                        <!--                        Add to watchlist-->
                        <div class="col" th:object="${saveShowId}" th:switch="${notAddedToWatchlist}">

                            <form th:action="@{/show/addToWatchList}" method="post">
                                <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                                <button th:case="true" class="btn btn-warning" type="submit">Add to Watchlist <i
                                        class="fa-regular fa-eye"></i></button>
                            </form>
                            <form th:action="@{/show/deleteFromWatchlist}" method="post">
                                <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                                <button th:case="*" class="btn btn-warning" type="submit">Delete from Watchlist <i
                                        class="fa-regular fa-eye"></i>
                                </button>
                            </form>
                        </div>


                    </div>
                    <p class="card-text" th:text="'First air date: ' + ${show.getFirst_air_date()}"></p>
                    <p class="card-text" th:text="'&#11088; ' + ${show.getVote_average()}"></p>
                    <p class="card-text" th:text="${show.getOverview()}"></p>
                </div>

            </div>
        </div>

    </div>

    <br>

    <h1 style="text-align: center">All Seasons</h1>
    <br>
    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
        <div th:each="season : ${show.getSeasons()}">
            <div class="col flip-card">
                <div class="card text-bg-dark  flip-card-inner">
                    <img th:src="@{${'https://image.tmdb.org/t/p/w500' + (season.getPoster_path != null ?
                    season.getPoster_path : 'https://image.tmdb.org/t/p/w500' + show.getPoster_path)}} "
                         class="card-img flip-card-front"
                         th:alt="${season.getName()}">
                    <div class="card-img-overlay flip-card-back">
                        <h5 class="card-title flip-card-titel" th:text="${season.getSeason_number()} + '. '
                        + ${season.getName()}">Card
                            title</h5>
                        <p class="card-text"><small th:text="'Episode count: ' + ${season.getEpisode_count()}">Last
                            updated 3 mins
                            ago</small></p>
                        <p class="card-text flip-card-text" th:text="${season.getOverview()}"></p>
                        <p class="card-text"><small th:text="'air date: ' + ${season.getAir_date()}"></small></p>
                        <a th:href="@{/show/{showId}/{seasonNumber}(showId=${show.getId()},
                        seasonNumber=${season.getSeason_number})}"
                           class="stretched-link btn btn-outline-success">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>