<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${show.getName()}"></title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">

    <div class="card bg-dark">
        <img th:src="@{${'https://image.tmdb.org/t/p/original' + show.getBackdrop_path()}}"
             class="card-img-top img-detail-top"
             alt="...">
        <div class="card-body">
            <div class="row row-cols-2">
                <div class="">
                    <img class="" th:src="@{${'https://image.tmdb.org/t/p/w185' + show.getPoster_path()}}"
                         alt="Card image cap">
                </div>
                <div class="">
                    <h1 class="card-title" th:text="${show.getName()}">Card title</h1>
                    <p class="card-text" th:text="'First air date: ' + ${show.getFirst_air_date()}"></p>
                    <p class="card-text" th:text="'&#11088; ' + ${show.getVote_average()}"></p>
                    <p class="card-text" th:text="${show.getOverview()}"></p>
                </div>

                <div th:object="${saveShowId}" th:switch="${notAdded}" sec:authorize="isAuthenticated()">

                    <form th:action="@{/show/add}" method="post">
                        <br>
                        <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                        <input th:case="true" class=" btn btn-outline-danger" type="submit" value="Add to Favorites &#9825;">
                    </form>
                    <form th:action="@{/show/delete}" method="post">
                        <input hidden type="text" name="saveShowId" th:value="${show.getId()}">
                        <input th:case="*" class=" btn btn-outline-danger" type="submit" value="Delete from Favorites &#9825;">
                    </form>
                </div>
            </div>

        </div>
    </div>
    <br>

    <h1 style="text-align: center">All Seasons</h1>
    <br>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        <div th:each="season : ${show.getSeasons()}">
            <div class="col flip-card">
                <div class="card text-bg-dark  flip-card-inner">
                    <img th:src="@{${'https://image.tmdb.org/t/p/w500' + season.getPoster_path}} "  class="card-img flip-card-front"
                          th:alt="${season.getName()}">
                    <div class="card-img-overlay flip-card-back">
                        <h5 class="card-title" th:text="${season.getSeason_number()} + '. ' + ${season.getName()}">Card title</h5>
                        <p class="card-text"><small th:text="'Episode count: ' + ${season.getEpisode_count()}">Last updated 3 mins
                            ago</small></p>
                        <p class="card-text flip-card-text" th:text="${season.getOverview()}"></p>
                        <p class="card-text"><small th:text="'air date: ' + ${season.getAir_date()}">Last updated 3 mins
                            ago</small></p>
                        <a th:href="@{/show/{showId}/{seasonNumber}(showId=${show.getId()}, seasonNumber=${season.getSeason_number})}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>